body {
    background-color: rgb(250, 250, 250);

}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .image {
    width: 370px;
    margin: 40px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
      justify-content: center;
    }
  
    .image {
      width: 80%;
      margin: 0 0 10px 0;
    }
  }